:root {
  --color-title: #1c2651;
  --color-subtitle: #1a244f;
  --color-orange: #d78d00;
  --color-hover: #006ce40f;
  --color-action-row: #1c2651;
  --color-white: #fff;
  --color-white-light: #fff5e3;
  --color-gray-light: #e3e3e3;
  --color-gray: #d5d5d5;
}
