.select__list {
  display: flex;
  flex-direction: column;
  padding: 17px 0;

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px 16px;
    cursor: pointer;
    &:hover {
      background: var(--color-hover);
    }
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      letter-spacing: 0px;
      font-size: 16px;
    }
    span {
      min-width: 20px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
